<div (click)="close()" class="system-detail-overlay" *ngIf="visible"></div>
<div [@fadeInAnimation2] *ngIf="visible" [ngStyle]="{ 'left': _left+'px', 'top': _top+'px' }" class="system-detail">
  <div class="row">
    <div class="col text-center">Actions</div>
  </div>
  <div class="row m-1">
    <div class="col d-flex align-items-center">
      <space-button (click)="onNavToSystem()" [name]="'Enter'"></space-button>
    </div>
  </div>
  <div class="row m-1">
    <div class="col d-flex align-items-center">
      <space-button (click)="onNavToSystem()" [name]="'discover'"></space-button>
    </div>
  </div>
  <div class="row m-1">
    <div class="col d-flex align-items-center">
      <space-button (click)="sendToAnotherSystem()" [name]="'scout'"></space-button>
    </div>
  </div>
</div>
