<div class="row">
  <div [ngClass]="{ 'active' : activePage == 0 }" (mouseenter)="act($event, 0)" (mouseleave)="deact($event)" class="col text-center menuItem">
    <span>space</span>
    <div class="menu-overlay"></div>
  </div>
  <div [ngClass]="{ 'active' : activePage == 1}" (mouseenter)="act($event, 1)" (mouseleave)="deact($event)" class="col text-center menuItem">
    <span>player</span>
    <div class="menu-overlay"></div>
  </div>
  <div [ngClass]="{ 'active' : activePage == 2}" (mouseenter)="act($event, 2)" (mouseleave)="deact($event)" class="col text-center menuItem">
    <span>stats</span>
    <div class="menu-overlay"></div>
  </div>
  <div [ngClass]="{ 'active' : activePage == 3 }" (mouseenter)="act($event, 3)" (mouseleave)="deact($event)" class="col text-center menuItem">
    <span>options</span>
    <div class="menu-overlay"></div>
  </div>
</div>
