<div class="row">
  <div (mouseenter)="act($event, 'space')" (mouseleave)="deact($event)" class="col text-center menuItem">
    <span>space</span>
    <div class="menu-overlay"></div>
  </div>
  <div (mouseenter)="act($event, 'player')" (mouseleave)="deact($event)" class="col text-center menuItem">
    <span>player</span>
    <div class="menu-overlay"></div>
  </div>
  <div (mouseenter)="act($event, 'stats')" (mouseleave)="deact($event)" class="col text-center menuItem">
    <span>stats</span>
    <div class="menu-overlay"></div>
  </div>
  <div (mouseenter)="act($event, 'option')" (mouseleave)="deact($event)" class="col text-center menuItem">
    <span>options</span>
    <div class="menu-overlay"></div>
  </div>
</div>
