.building-container {
  height: 100%;
  background: #265789;
}

.slot-container {
  width: 80px;
  margin: 0.3em;
  box-shadow: 1px 2px 4px 0px rgb(0, 0, 0);
}

.building-header {
  background: #1f4871;
  height: 53px;
  text-align: center;
  color: #ffffff;
  line-height: 53px;
  text-transform: uppercase;
  font-size: 1.8em;
  letter-spacing: 1px;
  margin-bottom: 1em;
  border-bottom: 3px solid #1299d5;
  box-shadow: 1px 1px 3px 1px rgb(0, 0, 0);;
}

.building-slot {
  height: 80px;
  background: #3b6897;
}

.building-slot:hover {
  cursor: pointer;
  outline: 2px solid #1299d5;
}


.building{
  background-image: url("../../../assets/imgs/building.png");
  height: 80px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px 60px;
}

