<div class="building-container p-2">
    <div class="row justify-content-start no-gutters">
    <div *ngFor="let slot of slots;" class="slot-container">
      <div (click)="onSelectSlot(slot)" class="building-slot">
        <div title="{{slot.building.value}}" *ngIf="!slot.isEmpty && slot.building">
          <div class="building"></div>
          <div class="building-title">{{slot.level}}</div>
        </div>
        <div *ngIf="slot?.isUnderConstruction">
          <div class="building"></div>
          <div class="building-title">U.C</div>
        </div>
      </div>
    </div>
</div>
