.slot-container {
  width: 80px;
  margin: 0.3em;
  box-shadow: 1px 2px 4px 0px rgb(0, 0, 0);
}

.building-slot {
  height: 80px;
  background: #3b6897;
}

.building-slot:hover {
  cursor: pointer;
  outline: 2px solid #1299d5;
}


.building{
  background-image: url("../../../assets/imgs/building.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 40px;
  height: 55px;
}

.building-title {
  text-align: center;
}

