.tree-container  {
  background: url("../../../assets/imgs/solar_system_background.png") no-repeat;
  background-size: cover;
  overflow: hidden;
  z-index: 50;
}

.system-container {
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 100;
}
