.builder-container {
    position: fixed;
    top: 30px;
    right: 0;
    background-color: #265789;
    color: white;
    z-index: 401;
    min-width: 600px;
}

.builder-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    min-width: 100%;
    position: fixed;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    top: 0;
    left: 0;
    z-index: 100;
}

.builder-container hr {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.section-header {
    display: inline-block;
    text-align: left;
}

.item-card {
    height: 100px;
    width: 350px;
    -webkit-box-shadow: 0px 0px 4px 0px rgb(0, 0, 0);
    box-shadow: 0px 0px 4px 0px rgb(0, 0, 0);
}

.item-card.active {
  -webkit-box-shadow: 0px 0px 4px 0px rgb(255, 255, 255);
  box-shadow: 0px 0px 4px 0px rgb(255, 255, 255);
}

.item-card:hover {
  -webkit-box-shadow: 0px 0px 4px 0px rgb(255, 255, 255);
  box-shadow: 0px 0px 4px 0px rgb(255, 255, 255);
  cursor: pointer;
}

.item-img {
    /*background-size: 76px 48px;*/
    background: url("../../../assets/imgs/spaceship.png") no-repeat center;
    background-size: contain;
    height: 80px;
}

.building:hover {
    cursor: pointer;
    outline: 2px solid #1299d5;
}

.button-container {
    margin: 10px;
}

.preview-header {
    margin-bottom: 30px;
    font-size: 30px;
}

.builder-header {
    background: #1f4871;
    height: 53px;
    text-align: center;
    color: #ffffff;
    line-height: 53px;
    text-transform: uppercase;
    font-size: 1.8em;
    letter-spacing: 1px;
    margin-bottom: 1em;
    border-bottom: 3px solid #1299d5;
    -webkit-box-shadow: 1px 1px 3px 1px rgb(0, 0, 0);
    box-shadow: 1px 1px 3px 1px rgb(0, 0, 0);
}

.info-label {
    padding-left: 10px;
    min-width: 100px;
    text-align: left;
    font-size: 12px;
}

.info-value {
    font-size: 12px;
    text-align: right;
}

.button-group {
    margin: 10px;
}

.scroller {
    overflow: auto;
    max-height: 500px;
}
