<div class="row background">
  <div class="col text-left">
    <div class="row">
      <div class="col-lg-6">
        <div class="resource-container" *ngFor="let h of menuItems;">
          <span (click)="onNavigate(h.route)" class="resource-label">{{h.name}}</span>
        </div>
      </div>
      <div class="col-lg-4">
        <space-resources></space-resources>
      </div>
      <div class="col-2 text-right">
        <space-stardate></space-stardate>
      </div>
    </div>
  </div>
</div>
