.menuItem {
  font-size: 22px;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}

.menuItem.active span {
  color: #ffffff;
  transition: all 0.3s ease;
}

.menuItem span {
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block;
  color: rgb(142, 147, 145);
  transition: all 0.3s ease;
}

.menuItem:hover{
  cursor: pointer;
}

.menu-overlay {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
}


