.background {
  background: url("../../../assets/imgs/menu.png");
  background-repeat: no-repeat;
  color: white;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-size: 100% 100%;
}

.resource-container {
  display: inline-block;
  text-align: center;
}

.resource-label{
  min-width: 80px;
  display: inline-block;
  color: #b38b7b;
  vertical-align: top;
  margin-left: 10px;
  text-transform: uppercase;
}

.resource-label:hover {
  cursor: pointer;
  color: white;
}

.resource-container:after {
  content: " ";
  background: url("../../../assets/imgs/menu-border.png");
  background-size: 100% 100%;
  display: inline-block;
  height: 45px;
  width: 6px;
  color: #b38b7b;
  padding-left: 4px;
  vertical-align: top;
  margin-top: 8px;
}

.header-offset {
  padding-left: 40px;
}


