.background {
  background: #1f4871;
  height: 53px;
  text-align: center;
  color: #ffffff;
  line-height: 53px;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 1px;
  margin-bottom: 1em;
  border-bottom: 3px solid #1299d5;
  -webkit-box-shadow: 1px 1px 3px 1px rgb(0, 0, 0);
  box-shadow: 1px 1px 3px 1px rgb(0, 0, 0);
}

.resource-container {
  display: inline-block;
  text-align: center;
}

.resource-label{
  min-width: 80px;
  display: inline-block;
  color: #71bfe6;
  vertical-align: top;
  margin-left: 10px;
  text-transform: uppercase;
  font-size: 1.4em;
}

.resource-label:hover {
  cursor: pointer;
  color: white;
}

.resource-container:after {
  /*content: " ";*/
  /*background: url("../../../assets/imgs/menu-border.png");*/
  /*background-size: 100% 100%;*/
  /*display: inline-block;*/
  /*height: 45px;*/
  /*width: 6px;*/
  /*color: #71bfe6;*/
  /*padding-left: 4px;*/
  /*vertical-align: top;*/
  /*margin-top: 8px;*/
}

