.solar-system-background, .glass-container:before {
  /*background: url("../../assets/imgs/solar_system_background.png");*/
  background-size: cover;
  height: 100%;
}

.planet-background {
  background: no-repeat center;
  margin: 0 auto;
  transition: all .3s ease;
  width: 100%;
  min-height: 140px;
}

.planet-background:hover {
  cursor: pointer;
  transition: all .3s ease;
  background-size: 140px!important;
}

.planet-buildings {
  height: 200px;
  margin: 20px;
}

.planet.active .glass-container {
  opacity: 1;
}

.glass-container {
  opacity: 0;
  background: rgba(115, 115, 115, 0.28);
  border: 2px dashed transparent;
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.15);
  position: relative;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

.glass-container:before {
  content: '';
  position: absolute;
  height: 100%;
  top: 0; right: 0; left: 0;
  filter: blur(5px);
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
}


.planet-name {
  text-align: center;
}


.system-container {
  height: 100vh;
}

.planet-holder-row{
  margin-top: 50px;
  margin-bottom: 50px;
}
