.pager-content {
  overflow: hidden;
  position: absolute;
  height: auto;
  /*width: calc(100% - 200px);*/
  white-space: nowrap;
  left: 0;
}

.pager-page {
  display: inline-block;
  height: auto;
  width: 100%;
  font-size: 0;
}

.pager-page span {
  font-size: 40px;
}

.slider {
  transition: 0.5s all ease;
  position: relative;
  left: 0;
}

.panel {
  background-color: rgba(0,0,0,0.2);
  font-size: 22px;
  -webkit-box-shadow: -1px 1px 23px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 1px 23px -4px rgba(0,0,0,0.75);
  box-shadow: -1px 1px 23px -4px rgba(0,0,0,0.75);
  margin-bottom: 10px;
  margin-top: 10px;
}

