<div class="row no-gutters">
  <div class="col pager-content">
    <div [style.transform]="translate" class="slider">
      <div id="space" class="pager-page">
        <div class="row no-gutters">
          <div class="col-md-8 offset-md-2 panel">

            <space-tabs [options]="tabOptions">
              <space-tab [name]="'starmap'">
                <space-home></space-home>
              </space-tab>
              <space-tab [name]="'player'"></space-tab>
            </space-tabs>

          </div>
        </div>
      </div
      ><div id="player" class="pager-page">
        <div class="col-md-8 offset-md-2 panel">
          <button>PLAYER</button>
        </div>
      </div
      ><div id="stats" class="pager-page">
        <div class="col-md-8 offset-md-2 panel">
          stats
          <div class="col-md-4">
            <button (click)="bar.start()">start</button>
            <space-progress-bar [duration]="20" #bar></space-progress-bar>
          </div>

        </div>
      </div
      ><div id="option" class="pager-page">
        <div class="col-md-8 offset-md-2 panel">
          options
        </div>
      </div>
    </div>
  </div>
</div>
