<div class="container-fluid">

  <div class="row">
    <div class="col">
      <space-header (onChange)="onMenuChanged($event)"></space-header>
    </div>
  </div>

  <div style="margin-top: 40px;" class="row">
    <div class="col">
      <space-pager #pager>
        <space-page [id]="'space'">

          <space-tabs [options]="tabOptions">
            <space-tab [name]="'starmap'">
              <space-home></space-home>
            </space-tab>
            <space-tab [name]="'player'"></space-tab>
          </space-tabs>

        </space-page>
        <space-page>

          <space-checkbox></space-checkbox>

        </space-page>
        <space-page>stats</space-page>
        <space-page>option</space-page>
      </space-pager>
    </div>
  </div>

  <div class="row" style="display: none;">
    <div class="col">

    </div>
  </div>

</div>
