.building-container {
  height: 100%;
  background: #363636;
}

.slot-container {
  width: 80px;
  margin: 0.3em;
}

.building-header {
  background: url("../../../assets/imgs/header.png");
  height: 53px;
  background-size: 100% 53px;
  background-repeat: no-repeat;
  text-align: center;
  color: #ffffff;
  line-height: 53px;
  text-transform: uppercase;
  font-size: 1.3em;
}

.building-slot {
  height: 80px;
  background: #1d1d1d;
  border: 2px solid #565656;
}

.building-slot:hover {
  cursor: pointer;
  border: 2px solid aliceblue;
}


.building{
  background: cornflowerblue;
  height: 80px;
}

