:host {
    width: 100%;
}

.item-card {
    -webkit-box-shadow: 1px 2px 4px 0px rgb(0, 0, 0);
    box-shadow: 1px 2px 4px 0px rgb(0, 0, 0);
    margin-bottom: 1rem;
    background: #1f4871;
}

.item-card.active {
    /*-webkit-box-shadow: 0px 0px 4px 0px rgb(255, 255, 255);*/
    /*box-shadow: 0px 0px 4px 0px rgb(255, 255, 255);*/
}

.item-card:hover {
    /*-webkit-box-shadow: 0px 0px 4px 0px rgb(255, 255, 255);*/
    /*box-shadow: 0px 0px 4px 0px rgb(255, 255, 255);*/
    /*cursor: pointer;*/
}

.item-img {
    /*background-size: 76px 48px;*/
    background: url("../../../assets/imgs/spaceship.png") no-repeat center;
    background-size: contain;
    height: 80px;
    padding: 60px;
}

.info-label {
    padding-left: 10px;
    min-width: 100px;
    text-align: left;
}

.info-value {
    text-align: right;
}

input.sizeInput {
    width: 40px;
}