<div class="row">
  <space-button (click)="onNavigateToSystem()" [name]="'System'"></space-button>
</div>
<div class="row">
  <div class="col-lg-4 text-center">
    <div class="planet"></div>
  </div>
  <div *ngIf="selectedPlanet" class="col-lg-6">
    <space-building-slots (constructionDone)="onConstructionDone($event)" [planet]="selectedPlanet"></space-building-slots>
  </div>
</div>
<space-builder></space-builder>
<space-common-builder (deconstructionDone)="onConstructionDone($event)"></space-common-builder>
<space-progress-queue></space-progress-queue>
<space-footer></space-footer>

