.button-container {
  display: inline-block;
}

button {
  height: 26px;
  line-height: 26px;
  vertical-align: middle;
  text-align: center;
  background-color: #3b6897;
  border: none;
  padding: 0 28px;
}

button:hover {
  cursor: pointer;
  color: white;
}

button:focus {
  outline: none;
}

button:active {
  color: initial;
}
