<div *ngIf="visible" class="builder-overlay"></div>
<div *ngIf="visible" class="builder-container container">

    <div class="row">
        <div class="col builder-header text-center">
            Available buildings
        </div>
    </div>

    <space-tabs>
        <space-tab [name]="'Producer'">
            <div class="row scroller p-4">
                <space-card-item *ngFor="let b of buildings | filterByBase:'PRODUCER';" [item]="b"></space-card-item>
            </div>
        </space-tab>
        <space-tab [name]="'Military'">
            <div class="row scroller p-4">
                <space-card-item *ngFor="let b of buildings | filterByBase:'MILITARY';" [item]="b"></space-card-item>
            </div>
        </space-tab>
        <space-tab [name]="'Utility'">
            <div class="row scroller p-4">
                <space-card-item *ngFor="let b of buildings | filterByBase:'UTILITY';" [item]="b"></space-card-item>
            </div>
        </space-tab>
        <space-tab [name]="'Research'">
            <div class="row scroller p-4">
                <space-card-item *ngFor="let b of buildings | filterByBase:'RESEARCH';" [item]="b"></space-card-item>
            </div>
        </space-tab>
    </space-tabs>

    <div class="row button-group">
        <div class="col">
            <div class="row">
                <div class="col text-right">
                    <space-button (click)="onCancel()" [name]="'Cancel'"></space-button>
                </div>
            </div>
        </div>
    </div>
</div>

