<div class="row details-container">
  <div class="col">
    <div class="row details-body">
      <div class="col">
        <space-tabs>
          <space-tab [name]="'Buildings'">
            <div *ngIf="planet" class="col-lg-6">
              <space-building-slots [planet]="planet"></space-building-slots>
            </div>
          </space-tab>
          <space-tab [name]="'Unit'">
            <div *ngFor="let s of ships;" class="row">{{s.name}}</div>
          </space-tab>
          <space-tab [name]="'Constructions'">
            <space-progress-queue [constructions]="planet.constructions"></space-progress-queue>
          </space-tab>
        </space-tabs>
      </div>
    </div>
  </div>
</div>
