.details-container {
    height: 100vh;
    background-color: #265789;
}

.details-header {
    background: url("../../../assets/imgs/header.png");
    height: 53px;
    background-size: 100% 53px;
    background-repeat: no-repeat;
    text-align: left;
    color: #ffffff;
    line-height: 53px;
    text-transform: uppercase;
    font-size: 18px;
    padding-left: 30px;
}
