
.tabs {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
}

.tabs nav {
  text-align: left;
}

.tabs nav ul {
  position: relative;
  display: flex;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  flex-flow: row wrap;
  /*justify-content: center;*/
}

.tabs nav ul li {
  position: relative;
  z-index: 1;
  display: block;
  text-align: center;
  flex: none;
  /*margin: 0 0.5em;*/
  width: 9em;
}

.tabs nav ul li:hover {
  cursor: pointer;
}

.tabs nav a {
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 2.5;
  padding: 0 1em;
}

.tabs nav a span {
  vertical-align: middle;
  font-size: 0.95em;
  color: rgb(142, 147, 145);
  transition: color 0.3s;
}

.tabs nav li.tab-current a span,
.tabs nav li.tab-current {
  color: #fff;
}

.tabs nav a::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background:#71bfe6;
  content: '';
  -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, transform 0.3s;
  -webkit-transition-timing-function: ease, cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: ease, cubic-bezier(0.7,0,0.3,1);
  -webkit-transform: translate3d(0,100%,0) translate3d(0,-3px,0);
  transform: translate3d(0,100%,0) translate3d(0,-3px,0);
}

.tabs nav li.tab-current a::after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.tabs nav a:hover::after,
.tabs nav a:focus::after,
.tabs nav li.tab-current a::after {
  background: #71bfe6;
}

.tabs nav a:hover span {
  color: #ffffff;
  transition: all 0.3s ease;
}
