.resource-container {
  display: inline-block;
}

.resource-label{
  min-width: 80px;
  display: inline-block;
  color: #71bfe6;
  vertical-align: top;
  margin-left: 10px;
}

.resource-label:after{
  content: ":";
  vertical-align: top;
}
.resource-value{
  min-width: 80px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-size: 1.2em;
}

.resource-container:not(:last-child):after {
  content: " ";
  display: inline-block;
  height: 23px;
  border-right: 2px solid #1299d5;
  padding-left: 15px;
  vertical-align: top;
  margin-top: 13px;
}


