.resource-container {
  display: inline-block;
}

.resource-label{
  min-width: 80px;
  display: inline-block;
  color: #71bfe6;
  vertical-align: top;
  margin-left: 10px;
}

.resource-value{
  min-width: 80px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-size: 1.2em;
}



