<div class="row planet-container mb-2" *ngFor="let planet of _planets;" (click)="onSelectPlanet(planet)"
     [class.active]="activePlanet == planet">
  <div class="col-4">
    image
  </div>
  <div class="col">
    <div class="row">
      <div class="col">
        {{planet.name}}
      </div>
    </div>
    <div class="row">
      <div class="col">
        {{planet.planetType}}
      </div>
    </div>
    <div class="row">
      <div class="col">
        {{planet.slots}}
      </div>
    </div>
      <div class="row">
          <div class="col">
              {{planet.isColonized}}
          </div>
      </div>
  </div>
</div>
