@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

body {
  background: black; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, rgba(69, 100, 118, 1), rgba(19, 30, 36, 1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, rgba(69, 100, 118, 1), rgba(19, 30, 36, 1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, rgba(69, 100, 118, 1), rgba(19, 30, 36, 1)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, rgba(69, 100, 118, 1), rgba(19, 30, 36, 1)); /* Standard syntax */
  height: 100vh;
  min-height: 100vh;
  color: rgb(142, 147, 145);

  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */

}


p {
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}

.no-gutters > .col {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
