@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

body {
  height: 100vh;
  min-height: 100vh;
  color: rgb(142, 147, 145);

  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */

  /*font-family: 'Roboto Condensed', sans-serif !important;*/
  /*font-weight: 300;*/
  font-size: 0.95em;
  text-shadow: 0 0 8px red;
  font-family: Courier, monospace;
  font-smoothing: antialiased;
  font-weight: 700;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  /*-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;*/
  /*text-shadow:1px 1px 1px rgba(0,0,0,0.004) !important;*/
  background: url("assets/imgs/solar_system_background.png") no-repeat;
  background-size: cover;
  overflow: hidden;

  image-rendering: pixelated;
  /*image-rendering: -webkit-optimize-contrast;*/
}

.button-container {
  line-height: 0;
}

p {
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
  margin: 0;
}

.no-gutters > .col {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
