@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

body {
  background: black; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, rgba(69, 100, 118, 1), rgba(19, 30, 36, 1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, rgba(69, 100, 118, 1), rgba(19, 30, 36, 1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, rgba(69, 100, 118, 1), rgba(19, 30, 36, 1)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, rgba(69, 100, 118, 1), rgba(19, 30, 36, 1)); /* Standard syntax */
  height: 100vh;
  min-height: 100vh;
  color: rgb(142, 147, 145);

  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */

}

.button-container {
  line-height: 0;
}

button {
  font-size: 14px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  vertical-align: middle;
  background-color: rgba(31, 47, 56,1);
  color: white;
  border: 1px solid rgba(255,255,255,0.3);
  transition: all 0.3s ease;
  min-width: 60px;
  line-height: 1.5em;
  min-height: 1.5em;
}

button:hover {
  cursor: pointer;
  /*border: 1px solid rgba(142, 147, 145,0.5);*/
  color: rgb(142, 147, 145);
  transition: all 0.3s ease;
  background-color: rgba(32, 49, 58, 1)
}

button:focus {
  outline: none;
}

button:active {
  outline: none;
  color: white;
  transition: all 0.3s ease;
  border: 1px solid white;
}


p {
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
  margin: 0;
}

.no-gutters > .col {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
