<!--"short" same as "M/d/yy h:mm a" (1/5/16 9:05 AM)-->
<!--"medium" same as "MMM d, y h:mm:ss a" (Jan 5, 2016 9:05:05 AM)-->
<!--"shortDate" same as "M/d/yy" (1/5/16)-->
<!--"mediumDate" same as "MMM d, y" (Jan 5, 2016)-->
<!--"longDate" same as "MMMM d, y" (January 5, 2016)-->
<!--"fullDate" same as "EEEE, MMMM d, y" (Tuesday, January 5, 2016)-->
<!--"shortTime" same as "h:mm a" (9:05 AM)-->
<!--"mediumTime" same as "h:mm:ss a" (9:05:05 AM)-->

<div class="stardate">stardate {{clock | date: 'hh:mm:ss'}}</div>
