.dialog {
  position: fixed;
  top:0;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  min-width: 100%;
  outline: none;
}

.dialog-modal {
  position: relative;
  width: 800px;
  margin: 180px auto;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.dialog-header {
  padding-bottom: 10px;
  padding-top: 10px;
  color: white;
  border-bottom: 1px solid rgb(142,147,145);
  background-color: rgb(29,45,53);
}

.dialog-content {
  position: relative;
  outline: none;
  background-color: rgb(33,50,60);
  border: 1px solid rgb(142,147,145);
  /*background: -webkit-linear-gradient(left top, rgba(69,100,118,1), rgba(19,30,36,1)); !* For Safari 5.1 to 6.0 *!*/
  /*background: -o-linear-gradient(bottom right, rgba(69,100,118,1), rgba(19,30,36,1)); !* For Opera 11.1 to 12.0 *!*/
  /*background: -moz-linear-gradient(bottom right, rgba(69,100,118,1), rgba(19,30,36,1)); !* For Firefox 3.6 to 15 *!*/
  /*background: linear-gradient(to bottom right, rgba(69,100,118,1), rgba(19,30,36,1)); !* Standard syntax *!*/
}

.dialog-body {
  padding:10px
}

.dialog-footer {
  border-top: 1px solid rgb(142,147,145);
  padding: 8px;
}

.dialog-bottom-border {
  border-bottom: 1px solid rgb(142,147,145);
  padding-bottom: 10px;
}

.dialog-title span {
  padding-left: 10px;
}

.dialog-exit {
  background: url("../../../assets/imgs/x-mark-128.png");
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
  display: inline-block;
}

.dialog-exit:hover, .dialog-button:hover {
  cursor: pointer;
}


.overlay {
  background-color: rgba(0,0,0,0.5);
  height: 100vh;
  min-width: 100%;
  position: fixed;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  top: 0;
  left: 0;
  z-index: 100;
}
