.head {
  display: inline-block;
  text-align: center;
  font-family: collegeb, monospace;
  font-size: 16px;
}

.table {
  width: 100%;
  padding: 10px;
  background-color: rgba(0,0,0,0.4);
}


.table-cell {
  display: inline-block;
}

.table-row:hover {
  background-color: rgba(0,0,0,0.2);
  cursor: pointer;
  color: white;
}
