.head {
  display: inline-block;
  text-align: center;
}

.table {
  width: 100%;
}


.table-cell {
  display: inline-block;
}

.table-row:hover {
  background-color: rgba(0,0,0,0.2);
  cursor: pointer;
  color: white;
}
